body {
       margin: 0;
       padding: 0;
       background-color: #90D5FF;
       overflow-x: hidden;
     }

     #canvas {
       display: block;
       background-color: white;
       margin: 0 0 0 0 auto;
     }

     #controls {
       
       margin: auto;
       justify-content: left;
       color: rbga(0, 0, 0, 0.5);
     }

     #toolbar-controls {
        position: fixed;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 30px;
        bottom: 80;
        left: 0;
        color: #9b9b9b;
        background-color: rgb(122, 199, 251);
     }

     /*#expand {
        flex: 1 1 100%;
        text-align: center;
        font-size: 25px;
     }

     .tool {
        flex: 1;
     }*/

     #toolbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
     }

     #tools-row {
        display: flex;
     }

     .toolbar-item {
        width:100px;
        height: 100%;
     }

     .toolbar-item .toggle-btn {
        font-weight: bold;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        color:#FFF;
        font-size: 15px;
        border: none;
        border-bottom: 10px solid rgba(255, 255, 255, 0.5);
     }

     #color-picker-container {
       color: #000;
       flex-basis: 1;
     }

     .toggle-btn {
       padding: 20px;
     }

     .toggle-btn.active {
        background-color: #FFF;
        color: #24A0ED;
        border-bottom: 10px solid #24A0ED;
     }

     #switches {
       display: flex;
       flex-direction: row;
     }

     #color-picker-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(54, 56, 58);
        border: 2px solid #000;
        border-radius: 15px;
     }

     .btn {
       padding: 5px;
     }

     .tool {
       margin: 5px 25px;
       padding: 5px;
     }

     .control-label {
        margin: 0 5px;
     }

     .toggle {
       display: inline-block;
     }

     #r-span {
        color: red;
     }

     #g-span {
        color:green;
     }

     #b-span {
        color:blue;
     }

     #preview {
       display: block;
       background-color: #000;
       width: 80%;
       height: 20px;
       margin-top: 10px;
       border: 1px solid #000;
       border-radius: 7px;
     }

     .control-label {
       display: block;
       color: #FFF;
     }

     /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 24px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #0fd647;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #0fd647;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
      transform: translateX(17px);
    }

    @media (max-width: 768px) {
      #controls {
        display: block;
      }

      #color-picker-container {
        display: inline-block;
        width: 50%;
      }

      #switches {
        display: inline-block;
      }
    }